* {
  font-family:Futura;
}
body {
background-color: #DEF;
}
h1 {
  color: #001;
}
p {
  color: #012;
}
table, th, td {
  border: black 1px solid;
}
table, th {
  background-color: #FFF;
}

rt {
  font-family: "Arial";
  color: black;
}
.highlight {
  background-color: yellow;
}
.code {
  font-family: "Courier New";
  background-color: #DDDDE0;
  border-radius: 1px;
  color: black;
}
.joke {
  font-family: "Comic Sans MS";
}
hlist-begin hlist-end {
  border-width: 0px;
}
