 * {
  font-family:Futura;
}
h1 {
  color:lightblue;
}
p {
  color:#012;
}
rt {
  font-family:Arial;
  color:black;
}
.highlight {
  background-color:yellow;
}
.joke {
  font-family:"Comic Sans MS";
}
